[Unit]
Description=Host Account Management

# Since hamd provides a way for docker containers to
# access user accounts on the host, we need to make
# sure it is started before the docker service.
Before=docker.service

# Make sure the NSS lookup infra is in
# place before starting hamd
After=nss-user-lookup.target

[Service]
Type=dbus
BusName=org.SONiC.HostAccountManagement
ExecStart=/usr/sbin/hamd
ExecReload=/bin/kill -HUP $MAINPID

# Resource Limitations
LimitCORE=infinity

[Install]
WantedBy=multi-user.target

