debian/sonic-ndi-api-dev

# http://www.gnu.org/software/automake

Makefile.in
Makefile

config.guess.dh-orig
config.log
config.status
config.sub.dh-orig
debian/sonic-ndi-api-dev.debhelper.log
debian/sonic-ndi-api-dev.substvars
libtool
config.h.in~
config.guess
config.h
config.sub

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

.libs
debian/.debhelper/generated/
debian/debhelper-build-stamp
debian/files
debian/libsonic-nas-ndi-s6000-dev.debhelper.an/libsonic-nas-ndi-s6000-dev.substvars
debian/libsonic-nas-ndi-s6000-dev/
debian/libsonic-nas-ndi-s6000.debhelper.log
debian/libsonic-nas-ndi-s6000/
debian/tmp/
libsonic_nas_platform_s6000.la
src/.libs/
src/libsonic_nas_platform_s6000_la-nas_ndi_plat_stat.lo
src/libsonic_nas_platform_s6000_la-nas_ndi_plat_stat.o
tmp/
debian/libsonic-nas-ndi-s6000.substvars
debian/libsonic-nas-ndi-s6000-dev.substvars
debian/libsonic-nas-ndi-s6000-dev.debhelper.log

debian/.debhelper
debian/autoreconf.after
debian/autoreconf.before
debian/libsonic-nas-ndi-s6000.postinst.debhelper
debian/libsonic-nas-ndi-s6000.postrm.debhelper
ltmain.sh 
src/.deps/.dirstamp
src/.dirstamp

*.o
*.lo
*.a
*.la
*.log
*.substvars
*.debhelper
debian/libsonic-nas-ndi-dev
debian/libsonic-nas-ndi
