<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2019 Dell, Inc.  

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
--> 

<CLISH_MODULE
    xmlns="http://www.dellemc.com/sonic/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    xsi:schemaLocation="http://www.dellemc.com/sonic/XMLSchema
                        http://www.dellemc.com/sonic/XMLSchema/clish.xsd"
    >
<!--=========================================================================-->
<VIEW name="enable-view">
<!--show ip access-lists -->
    <COMMAND name = "show ip access-lists"
        help = "Show IPv4 access-lists information"
        >
        <PARAM 
            name = "access-list-name"
            help = "Access list name"
            ptype = "STRING_63"
            optional = "true"
            >
        </PARAM>
      <ACTION>
        if test "${access-list-name}" = ""; then&#xA;
            python $SONIC_CLI_ROOT/sonic-cli.py get_openconfig_acl_acl_acl_sets show_access_list.j2&#xA;
        else&#xA;
            python $SONIC_CLI_ROOT/sonic-cli.py get_openconfig_acl_acl_acl_sets_acl_set_acl_entries ${access-list-name} ACL_IPV4 show_access_list.j2&#xA;
        fi&#xA;
      </ACTION>
    </COMMAND>


<!--show ip access-group -->
   <COMMAND
         name="show ip access-group"
         help="Show IPv4 access-group information"
		 >
      <ACTION>
        python $SONIC_CLI_ROOT/sonic-cli.py get_openconfig_acl_acl_interfaces show_access_group.j2
      </ACTION>
    </COMMAND>

</VIEW>

<!--MODE : interface -->

<VIEW name="configure-if-view">
    <!-- ip access-group -->
    <COMMAND
         name="ip access-group"
         help="Specify access control for packets"
         >

    <MACRO name="ACG-OPTIONS" arg=""></MACRO>

    <ACTION>
        if test "${direction-switch}" = "in"; then&#xA;
            python $SONIC_CLI_ROOT/sonic-cli.py patch_list_openconfig_acl_acl_interfaces_interface ${access-list-name} ACL_IPV4 ${iface} ingress&#xA;
        else&#xA;
            python $SONIC_CLI_ROOT/sonic-cli.py patch_list_openconfig_acl_acl_interfaces_interface ${access-list-name} ACL_IPV4 ${iface} egress&#xA;
        fi&#xA;
    </ACTION>
    </COMMAND>

<!-- no ip access-group -->
   <COMMAND
         name="no ip access-group"
         help="Specify access control for packets"
         >

    <MACRO name="NO-ACG-OPTIONS" arg=""></MACRO>

    <ACTION>
        if test "${direction-switch}" = "in"; then&#xA;
            python $SONIC_CLI_ROOT/sonic-cli.py delete_openconfig_acl_acl_interfaces_interface_ingress_acl_sets_ingress_acl_set ${iface} ${access-list-name} ACL_IPV4&#xA;
        else&#xA;
            python $SONIC_CLI_ROOT/sonic-cli.py delete_openconfig_acl_acl_interfaces_interface_egress_acl_sets_egress_acl_set ${iface} ${access-list-name} ACL_IPV4&#xA;
        fi&#xA;
    </ACTION>
    </COMMAND>

</VIEW>

<VIEW name="configure-view">

<!-- ip access-list -->
   <COMMAND
         name="ip access-list"
         help="Configure IPv4 access-list"
         view="configure-acl-ipv4-view"
         viewid="name=${access-list-name}"
         >
         <PARAM
             name="access-list-name"
             help="Name of the IPv4 access-list (Max size 63)"
             ptype="STRING_63"
             >
        </PARAM>
        <ACTION>python $SONIC_CLI_ROOT/sonic-cli.py patch_openconfig_acl_acl_acl_sets_acl_set ${access-list-name} ACL_IPV4</ACTION>
    </COMMAND>

<!-- no ip access-list -->
   <COMMAND name="no ip access-list"
         help="Configure IPv4 access-list"
		 >
         <PARAM name="access-list-name"
             help="Name of the IPv4 access-list (Max size 63)"
             ptype="STRING_63"
			 >
        </PARAM>
    <ACTION>python $SONIC_CLI_ROOT/sonic-cli.py delete_openconfig_acl_acl_acl_sets_acl_set ${access-list-name} ACL_IPV4</ACTION>
    </COMMAND>

</VIEW>

<VIEW name="configure-acl-ipv4-view"
        prompt="${SYSTEM_NAME}(config-ipv4-acl)# "
        depth="2">

<!-- Inheritance -->

     <NAMESPACE ref="configure-view"
                help="false"
                completion="false"/>

     <!-- show configuration -->
     <COMMAND
         name="show configuration"
         help="Current configuration"
      >
     <ACTION builtin="clish_nop"> </ACTION>
     </COMMAND>

     <COMMAND name="no"
              help="Negate a command or set its defaults">
     </COMMAND>

    <COMMAND
        name="no seq"
        help="Sequence number"
        >
        <PARAM
            name="seq-no"
            help="Sequence number"
            ptype="RANGE_1_65535"
            />
        <ACTION>python $SONIC_CLI_ROOT/sonic-cli.py delete_openconfig_acl_acl_acl_sets_acl_set_acl_entries_acl_entry ${name} ACL_IPV4 ${seq-no}</ACTION>
    </COMMAND>

     <COMMAND
         name="seq"
         help="Sequence number"
         >
         <PARAM
             name="seq-no"
             help="Sequence number"
             ptype="RANGE_1_65535"
             >
             <PARAM
                 name="seq-options"
                 help=""
                 ptype="SUBCOMMAND"
                 mode="switch"
                 >
                 <PARAM
                     name="deny"
                     help="Configure deny criteria"
                     ptype="SUBCOMMAND"
                     mode="subcommand"
                     >
                     <PARAM
                         name="deny-options"
                         help=""
                         ptype="SUBCOMMAND"
                         mode="switch"
                        >
                        <MACRO name="IPV4-ACL" arg=""></MACRO>
                     </PARAM>
                 </PARAM>
                 <PARAM
                     name="permit"
                     help="Configure permit criteria"
                     ptype="SUBCOMMAND"
                     mode="subcommand"
                     >
                     <PARAM
                         name="permit-options"
                         help=""
                         ptype="SUBCOMMAND"
                         mode="switch"
                         >
                         <MACRO name="IPV4-ACL-PERMIT-OPTIONS" arg=""></MACRO>
                     </PARAM>
                 </PARAM>
             </PARAM>
         </PARAM>
         <ACTION>
            python $SONIC_CLI_ROOT/sonic-cli.py patch_list_openconfig_acl_acl_acl_sets_acl_set_acl_entries_acl_entry ${name} ACL_IPV4 ${__params}
         </ACTION>
     </COMMAND>
</VIEW>

</CLISH_MODULE>
