{{'-----------------------------------------------------------'}}
{{'LLDP Neighbors'.ljust(20)}}
{{'-----------------------------------------------------------'}}
{% for neigh in json_output %}
{% set value = neigh['neighbors']['neighbor'][0] %}
{{'Interface:'}}{{'   '}}{{value['id']}}{{',via:'}}{{' LLDP'}}
{{'  Chassis:'}}
{{'    ChassisID:    '}}{{value['state']['chassis-id']}}
{{'    SysName:      '}}{{value['state']['system-name']}}
{% set desc = value['state']['system-description'].split('\r\n')[1:] %}
{{'    SysDescr:     '}}{{value['state']['system-description'].split('\r\n')[0]}}
{{'    MgmtIP:       '}}{{value['state']['management-address'].split(',')[0]}}
{{'    MgmtIP:       '}}{{value['state']['management-address'].split(',')[-1]}}
{% for v in desc %}
{{'                  '}}{{v}}
{% endfor %}
{% if 'capabilities' in value.keys() %}
{% for cap in  value['capabilities']['capability'] %}
{%  if cap['state']['enabled'] == true %}
{%  set en = 'ON' %}
{% endif %}
{%  if cap['state']['enabled'] == false %}
{%  set en = 'OFF' %}
{% endif %}
{{'    Capability:   '}}{{cap['name'].split(':')[1]}}{{', '}}{{en}}
{% endfor %}
{% endif %}
{{'  Port'}}
{{'    PortID:       '}}{{value['state']['port-id']}}
{{'    PortDescr:    '}}{{value['state']['port-description']}}
{{'-----------------------------------------------------------'}}
{% endfor %}

