{{'-----------------------------------------------------------'}}
{{'Attribute'.ljust(20)}} {{'Value/State'}}
{{'-----------------------------------------------------------'}}
{% for key,value in json_output.items() %}
{{key.ljust(20)}}:{{value}}
{% endfor %}

