{{'-----------------------------------------------------------'}}
{{'Attribute'.ljust(30)}} {{'Value/State'}}
{{'-----------------------------------------------------------'}}
{% for key,value in json_output.items() %}
{% for key2,value2 in value.items() %}
{% if 'port-number' in value2.keys() %}
{{ 'Port Number'.ljust(30)}} {{ value2['port-number']}}
{% endif %}
{% if 'port-state' in value2.keys() %}
{{ 'Port State'.ljust(30)}} {{ value2['port-state']}}
{% endif %}
{% if 'log-min-pdelay-req-interval' in value2.keys() %}
{{ 'Log Min Pdelay Req Intvl'.ljust(30)}} {{ value2['log-min-pdelay-req-interval']}}
{% endif %}
{% if 'log-min-delay-req-interval' in value2.keys() %}
{{ 'Log Min delay Req Intvl'.ljust(30)}} {{ value2['log-min-delay-req-interval']}}
{% endif %}
{% if 'peer-mean-path-delay' in value2.keys() %}
{{ 'Peer Mean Path delay'.ljust(30)}} {{ value2['peer-mean-path-delay']}}
{% endif %}
{% endfor %}
{% endfor %}

