{% for key,value in json_output.items() %}
{% for item in value %}
{% for key2,value2 in item.items() %}
{% if 'port-number' == key2 %}
{{ 'Port Number'.ljust(30)}} {{ value2}}
{% endif %}
{% if 'port-state' == key2 %}
{{ 'Port State'.ljust(30)}} {{ value2 }}
{% endif %}
{% if 'log-min-delay-req-interval' == key2.keys %}
{{ 'Log Min delay Req Intvl'.ljust(30)}} {{ value2 }}
{% endif %}
{% if 'peer-mean-path-delay' == key2 %}
{{ 'Peer Mean Path delay'.ljust(30)}} {{ value2 }}
{% endif %}
{% if 'log-announce-interval' == key2 %}
{{ 'Log Announce Interval'.ljust(30)}} {{ value2 }}
{% endif %}
{% if 'log-sync-interval' == key2 %}
{{ 'Log Sync Interval'.ljust(30)}} {{ value2 }}
{% endif %}
{% if 'delay-mechanism' == key2 %}
{{ 'Delay Mechanism'.ljust(30)}} {{ value2 }}
{% endif %}
{% if 'log-min-pdelay-req-interval' == key2 %}
{{ 'Log Min PDelay Req Interval'.ljust(30)}} {{ value2 }}
{% endif %}
{% if 'version-number' == key2 %}
{{ 'Version Number'.ljust(30)}} {{ value2 }}
{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}

