{% for key,value in json_output.items() %}
{% if 'ietf-ptp-ext:clock-type' in value.keys() and value['ietf-ptp-ext:clock-type'] %}
{{ 'Mode'.ljust(21)}} {{ value['ietf-ptp-ext:clock-type']}}
{% endif %}
{% if 'ietf-ptp-ext:domain-profile' in value.keys() and value['ietf-ptp-ext:domain-profile'] %}
{{ 'Domain Profile'.ljust(21)}} {{ value['ietf-ptp-ext:domain-profile']}}
{% endif %}
{% if 'ietf-ptp-ext:network-transport' in value.keys() and value['ietf-ptp-ext:network-transport'] %}
{{ 'Network Transport'.ljust(21)}} {{ value['ietf-ptp-ext:network-transport']}} {{ value['ietf-ptp-ext:unicast-multicast']}}
{% if 'udp6-scope' in value.keys() %}
{% if value['ietf-ptp-ext:network-transport'] == 'UDPv6' and value['ietf-ptp-ext:unicast-multicast'] == 'multicast' %}
{{ 'IPv6 Scope'.ljust(21)}} {{ hex(value['udp6-scope'])}}
{% endif %}
{% endif %}
{% endif %}
{% if 'domain-number' in value.keys() and 'ietf-ptp-ext:clock-type' in value.keys() and value['ietf-ptp-ext:clock-type'] %}
{{ 'Domain Number'.ljust(21)}} {{ value['domain-number']}}
{% endif %}
{% if 'clock-identity' in value.keys() %}
{{ 'Clock Identity'.ljust(21)}} {{ value['clock-identity']}}
{% endif %}
{% if 'priority1' in value.keys() %}
{{ 'Priority1'.ljust(21)}} {{ value['priority1']}}
{% endif %}
{% if 'priority2' in value.keys() %}
{{ 'Priority2'.ljust(21)}} {{ value['priority2']}}
{% endif %}
{% if 'two-step-flag' in value.keys() %}
{{ 'Two Step'.ljust(21)}} {% if value['two-step-flag'] == True %}
{%   print 'Enabled\n' %}
{% else %}
{%   print 'Disabled\n' %}
{% endif %}
{% endif %}
{% if 'slave-only' in value.keys() %}
{{ 'Slave Only'.ljust(21)}} {{ value['slave-only'] }}
{% endif %}
{% if 'number-ports' in value.keys() %}
{{ 'Number Ports'.ljust(21)}} {{ value['number-ports']}}
{% endif %}
{% if 'clock-quality' in value.keys() %}
{{ 'Clock Quality:'.ljust(21)}}
{% if 'clock-class' in value['clock-quality'].keys() %}
{{ '  Clock Class'.ljust(21)}} {{ value['clock-quality']['clock-class']}}
{% endif %}
{% if 'clock-accuracy' in value['clock-quality'].keys() %}
{{ '  Clock Accuracy'.ljust(21)}} {{ value['clock-quality']['clock-accuracy']}}
{% endif %}
{% if 'offset-scaled-log-variance' in value['clock-quality'].keys() %}
{{ '  Ofst Scaled Log Var'.ljust(21)}} {{ value['clock-quality']['offset-scaled-log-variance']}}
{% endif %}
{% endif %}
{% endfor %}
