{% for key,value in json_output.items() %}
{% if 'clock-type' in value.keys() %}
{{ 'Mode'.ljust(21)}} {{ value['clock-type']}}
{% endif %}
{% if 'domain-profile' in value.keys() %}
{{ 'Domain Profile'.ljust(21)}} {{ value['domain-profile']}}
{% endif %}
{% if 'network-transport' in value.keys() %}
{{ 'Network Transport'.ljust(21)}} {{ value['network-transport']}} {{ value['unicast-multicast']}}
{% if 'udp6-scope' in value.keys() %}
{% if value['network-transport'] == 'UDPv6' and value['unicast-multicast'] == 'multicast' %}
{{ 'IPv6 Scope'.ljust(21)}} {{ value['udp6-scope']}}
{% endif %}
{% endif %}
{% endif %}
{% if 'domain-number' in value.keys() %}
{{ 'Domain Number'.ljust(21)}} {{ value['domain-number']}}
{% endif %}
{% if 'clock-identity' in value.keys() %}
{{ 'Clock Identity'.ljust(21)}} {{ value['clock-identity']}}
{% endif %}
{% if 'priority1' in value.keys() %}
{{ 'Priority1'.ljust(21)}} {{ value['priority1']}}
{% endif %}
{% if 'priority2' in value.keys() %}
{{ 'Priority2'.ljust(21)}} {{ value['priority2']}}
{% endif %}
{% if 'two-step-flag' in value.keys() %}
{{ 'Two Step'.ljust(21)}} {% if value['two-step-flag'] == '0' %}
{%   print 'Disabled\n' %}
{% else %}
{%   print 'Enabled\n' %}
{% endif %}
{% endif %}
{% if 'slave-only' in value.keys() %}
{{ 'Slave Only'.ljust(21)}} {% if value['slave-only'] == '0' %}
{%   print 'False\n' %}
{% else %}
{%   print 'True\n' %}
{% endif %}
{% endif %}
{% if 'number-ports' in value.keys() %}
{{ 'Number Ports'.ljust(21)}} {{ value['number-ports']}}
{% endif %}
{% if 'clock-quality' in value.keys() %}
{{ 'Clock Quality:'.ljust(21)}}
{% if 'clock-class' in value['clock-quality'].keys() %}
{{ '  Clock Class'.ljust(21)}} {{ value['clock-quality']['clock-class']}}
{% endif %}
{% if 'clock-accuracy' in value['clock-quality'].keys() %}
{{ '  Clock Accuracy'.ljust(21)}} {{ value['clock-quality']['clock-accuracy']}}
{% endif %}
{% if 'offset-scaled-log-variance' in value['clock-quality'].keys() %}
{{ '  Ofst Scaled Log Var'.ljust(21)}} {{ value['clock-quality']['offset-scaled-log-variance']}}
{% endif %}
{% endif %}
{% endfor %}
