{% set just_var = 2 %}
Flags:  D - Down
        U - Up (PortChannel)

{{'----------------------------------------------------------------------------------------------------------------------------'}}
{{'%-20s'|format("Group")}}{{'%-30s'|format("Port-Channel")}}{{'%-20s'|format("Type")}}{{'%-15s'|format("Protocol")}}{{'%-15s'|format("Member Ports")}}
{{'----------------------------------------------------------------------------------------------------------------------------'}}
{% for dict in json_output['PORTCHANNEL'] %}
{{'%-20s'|format(dict['id']|string)}}{{'%-18s'|format(dict['name'])}}{{'%-12s'|format("(D)")}}{{'%-20s'|format("Eth")}}{{'%-15s'|format("LACP")}}{{'%-15s'|format(dict['members']|string|replace("[", "")|replace("]", ""))}}
{% endfor %}
