{% set vars = {'flowName': ""} %}
{% set vars = {'aclTableName': ""} %}
{% set vars = {'aclRuleName': ""} %}
{% set vars = {'statPacketsCount': ""} %}
{% set vars = {'statBytesCount': ""} %}
{{'------------------------------------------------------------------------------------------------------------------------'}}
{{'FLOW NAME'.ljust(20)}} {{'RULE NAME'.ljust(20)}} {{'TABLE NAME'.ljust(20)}} {{'PACKETS COUNT'.ljust(20)}} {{'BYTES COUNT'}}
{{'------------------------------------------------------------------------------------------------------------------------'}}
{% for key,value in json_output.items() %}
{% for item in value %} 
{% for key2,value2 in item.items() %}
{% if 'flow-name' == key2 %}
{% if vars.update({'flowName':value2}) %}{% endif %}
{% endif %}
{% if 'rule-name' == key2 %}
{% if vars.update({'aclRuleName':value2}) %}{% endif %}
{% endif %}
{% if 'table-name' == key2 %}
{% if vars.update({'aclTableName':value2}) %}{% endif %}
{% endif %}
{% if 'ietf-ts:ifa-stats' == key2 %}
{% for key,value in value2.items() %}
{% if 'Packets' == key %}
{% if vars.update({'statPacketsCount':value}) %}{% endif %}
{% endif %}
{% if 'Bytes' == key %}
{% if vars.update({'statBytesCount':value}) %}{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{{'%-25s'|format(vars.flowName)}}{{'%-20s'|format(vars.aclRuleName)}}{{'%-20s'|format(vars.aclTableName)}} {{'%-20s'|format(vars.statPacketsCount)}} {{'%-20s'|format(vars.statBytesCount)}}
{% endfor %}
{% endfor %}

