{% if json_output -%}
{% if json_output is iterable %}
{% set comm_list = {} %}
{% if "openconfig-bgp-policy:ext-community-sets" is in json_output %}
{% set comm_list = json_output['openconfig-bgp-policy:ext-community-sets']['ext-community-set'] %}
{% endif %}
{% if "openconfig-bgp-policy:ext-community-set" is in json_output %}
{% set comm_list = json_output['openconfig-bgp-policy:ext-community-set'] %}
{% endif %}
{% for list in comm_list %}
{% set vars = {'list_name': ""} %}
{% set vars = {'regex':false } %}
{% set match =  "" %}
{% set mems = "" %}
{% set temp = [ ] %}
{% if vars.update({'list_name':list ['ext-community-set-name']}) %} {% endif %}
   {% set match = list['config']['match-set-options'] %}
   {% set mems =  list['config']['ext-community-member'] %}
   {% for mem in mems %}
   {% if mem[:5]|string() == "REGEX" %}
      {% if vars.update({'regex':true}) %} {% endif %}
   {% endif %}
   {% endfor %}
   {% if (vars.regex) == true %}
Expanded extended community list {{'%s'| format(vars.list_name)}}:  match: {{'%s'| format(match)}}
   {% elif (vars.regex) == false %}
Standard extended community list {{'%s'| format(vars.list_name)}}:  match: {{'%s'| format(match)}}
   {% endif %}
   {% for mem in mems %}
     {% if "route-target" in mem %}
     {% set mem = "rt:" + mem[13:] %}
     {% elif "route-origin" in mem %}
     {% set mem = "soo:" + mem[15:] %}
     {% elif "REGEX" is in mem  %}
     {% set mem = mem[6:] %}
     {% endif %}
     {% if match == "ALL" %}
       {% do temp.append(mem) %}
     {% endif %}
     {% if match == "ANY" %}
     {{'%s'| format(mem)}}
     {% endif %}
   {% endfor %}
   {% if match == "ALL" %}
     {{'%s'| format(temp|join(","))}}
   {% endif %}
{% endfor %}
{% endif %}
{% endif %}
