{{'----------------------------------------------------------------'}}
{{'VRF-NAME'.ljust(20)}}{{'INTERFACES'}}
{% if json_output %}
{% for key in json_output %}
    {% if 'openconfig-network-instance:config' in key %}
        {% set vrf_info = json_output['openconfig-network-instance:config'] %}
        {% if vrf_info['name'] == 'mgmt' %}
            {{-'mgmt'.ljust(20)}}{{'eth0'}}
        {% endif %}
    {% endif %}
{% endfor %}
{% endif %}
