{{'-----------------------------------------------------------'}}
{{'sFlow interface configurations'.ljust(20)}}
{{'%40s'|format('Interface		Admin State		Sampling Rate')}}
{% if json_output -%}
{% for sess in json_output %}
{{'%12s'|format(sess['ifname'])}}		{{sess['admin_state']}}			{{sess['sample_rate']}}
{% endfor %}
{% endif %}

