{% if json_output -%}
{% if json_output.__len__() > 0 %}
{% set port_config = json_output['port_config'] %}
{% if port_config and port_config.__len__() > 1 %}
{{' '}}
{{'UDLD information for'}} {{json_output['interface']}}
{% if port_config['admin_enable'] == True %}
{{'%-20s'|format("  UDLD Admin State")}} : Enabled
{%else %}
{{'%-20s'|format("  UDLD Admin State")}} : Disabled
{%endif%}
{% if port_config['aggressive'] == True %}
{{'%-20s'|format("  Mode")}} : Aggressive
{%else %}
{{'%-20s'|format("  Mode")}} : Normal
{%endif%}


{{'%-20s'|format("  Status")}} : {{json_output['status']}}
{% set global_oper = json_output['global_oper'] %}
{% if global_oper and global_oper.__len__() > 1 %}
{{'%-20s'|format("  Local Device Id")}} : {{global_oper['device_id']}}
{{'%-20s'|format("  Local Port Id")}} : {{port_config['ifname']}}
{{'%-20s'|format("  Local Device Name")}} : {{global_oper['device_name']}}
{{'%-20s'|format("  Message Time")}} : {{json_output['msg_time']}} seconds
{{'%-20s'|format("  Timeout Interval")}} : {{global_oper['timeout_interval']}} seconds
{%endif%}

{% set intf_info = json_output['neighbor'] %}
{% if intf_info and intf_info.__len__() > 0 %}
{% for i in range(intf_info.__len__()) %}
{% set neigh_info = intf_info[i] %}
{{' '}}
{{'%-20s'|format("     Neighbor Entry")}} {{neigh_info['index']}}
{{'     --------------------------------------------------'}}
{{'%-30s'|format("     Neighbor Device Id")}} : {{neigh_info['device_id']}}
{{'%-30s'|format("     Neighbor Port Id")}} : {{neigh_info['port_id']}}
{{'%-30s'|format("     Neighbor Device Name")}} : {{neigh_info['device_name']}}
{{'%-30s'|format("     Neighbor Message Time")}} : {{neigh_info['msg_time']}} seconds
{{'%-30s'|format("     Neighbor Timeout Interval")}} : {{neigh_info['timeout_interval']}} seconds
{% endfor %}
{%endif%}

{%endif%}
{%endif%}
{%endif%}
