{% set count = namespace(value=0) %}

{{'%-8s'|format("Vlan")}}   {{'%-12s'|format("Tunnel")}}  {{'%-8s'|format("VNI")}}
{{'%-8s'|format("======")}} {{'%-12s'|format("=========")}}  {{'%-8s'|format("=======")}}

{% if json_output %}

{% for vnilist in  json_output['sonic-vxlan:EVPN_REMOTE_VNI_TABLE_LIST']%}
{{'%-8s'|format(vnilist['vlan'])}}  {{'%-12s'|format(vnilist['remote_vtep'])}}  {{'%-8s'|format(vnilist['vni'])}}
{% set count.value = count.value + 1 %}
{% endfor %}

{{'\nTotal count : %4s\n'|format(count.value)}}
{% endif %}

