{% set vars = {'interface': "unknown"} %}
{% if vars.update({'gwIp': ["unknown"]}) %}{% endif %}
{% if vars.update({'family': "IPv4"}) %}{% endif %}
{% if vars.update({'master': "unknown"}) %}{% endif %}
{% if vars.update({'adminStatus': "unknown"}) %}{% endif %}
{% if vars.update({'operStatus': "unknown"}) %}{% endif %}
{% set gwmac = "Not Configured" %}
{% set familyenabled = "enable" %}
{% set total = "0" %}
{% set adminup = "0" %}
{% set operup = "0" %}

{% if 'global' in json_output %}
{% if 'sonic-sag:SAG_GLOBAL_LIST' in json_output['global'] %}
{% set sag_global = json_output['global']['sonic-sag:SAG_GLOBAL_LIST'] %}
{% set gwmac = sag_global[0]['gwmac'] %}
{% if json_output['family'] in sag_global[0] %}
{% set familyenabled = sag_global[0][json_output['family']] %}
{% endif %}
{% endif %}
{% if "miscmap" in json_output %}
{% if "counters" in json_output["miscmap"] %}
{% set total = '%d'|format(json_output["miscmap"]["counters"]["totalgw"][json_output['family']]) %}
{% set adminup = '%d'|format(json_output["miscmap"]["counters"]["adminupgw"][json_output['family']]) %}
{% set operup = '%d'|format(json_output["miscmap"]["counters"]["operupgw"][json_output['family']]) %}
{% endif %}
{% endif %}
Configured Anycast Gateway MAC address: {{gwmac}}
{{json_output['family']}} Anycast Gateway MAC address: {{familyenabled}}
{% if total != "0" %}
Total number of gateway: {{total}}
Total number of gateway admin UP: {{adminup}}
Total number of gateway oper UP: {{operup}}
{{'%-10s %-20s %-10s %-10s'|format("Interfaces", "Gateway Address", "Master", "Admin/Oper")}}
{{'%-10s %-20s %-10s %-10s'|format("----------", "---------------", "------", "----------")}}
{% endif %}
{% endif %}

{% if 'sag' in json_output %}
    {% set sag_list = json_output['sag']['sonic-sag:SAG_LIST'] %}
        {% for sag in sag_list %}
            {% if json_output['family'] == sag['table_distinguisher'] %}
            {% if "ifname" in sag %}
                {% if vars.update({'interface':sag['ifname']}) %}{% endif %}
            {% endif %}
            {% if "gwip" in sag %}
                {% if vars.update({'gwIp':sag['gwip']}) %}{% endif %}
            {% endif %}
            {% if "family" in sag %}
                {% if vars.update({'family':sag['table_distinguisher']}) %}{% endif %}
            {% endif %}
            {% if "miscmap" in json_output %}
                {% if vars.update({'master':json_output['miscmap'][vars.interface]['master']}) %}{% endif %}
            {% endif %}
            {% if "miscmap" in json_output %}
                {% if vars.update({'operStatus':json_output['miscmap'][vars.interface][vars.gwIp[0]]['oper_state']}) %}{% endif %}
                {% if vars.update({'adminStatus':json_output['miscmap'][vars.interface][vars.gwIp[0]]['admin_state']}) %}{% endif %}
            {% endif %}
{{'%-10s %-20s %-10s %5s/%-5s'|format(vars.interface, vars.gwIp[0], vars.master, vars.adminStatus, vars.operStatus)}}
{% for i in vars.gwIp %}
{% if i != '' and i != vars.gwIp[0] %}
{% if "miscmap" in json_output %}
    {% if vars.update({'operStatus':json_output['miscmap'][vars.interface][i]['oper_state']}) %}{% endif %}
    {% if vars.update({'adminStatus':json_output['miscmap'][vars.interface][i]['admin_state']}) %}{% endif %}
{% endif %}
{{'%-10s %-20s %-10s %5s/%-5s'|format('', i, '', vars.adminStatus, vars.operStatus)}}
{% endif %}
{% endfor %}
            {% endif %}
        {% endfor %}
{% endif %}
