{{'-----------------------------------------------------------'}}
{{'sFlow interface configurations'.ljust(20)}}
{{'%40s'|format('Interface		Admin State		Sampling Rate')}}
{% if json_output -%}
{% for sess in json_output %}
{{'%23s'|format(sess['ifname'].ljust(20))}} {{sess['admin_state'].ljust(20)}}    {{sess['sample_rate']}}
{% endfor %}
{% endif %}

