{{'%-20s'|format("Name")}}{{'%-20s'|format("Nat Zone")}}
{{'----------------------------------------------------------------------------------------------------------------------------'}}
{% for k,v in json_output.items() %}
{{'%-20s'|format(k)}}{{'%-20s'|format(v)}}
{% endfor %}
