{% if json_output -%}
{% if json_output.__len__() > 0 %}
{{' '}}

{% for i in range(json_output.__len__()) %}
{% set intf_stats_info = json_output[i] %}
{{'UDLD Interface statistics for'}} {{intf_stats_info['ifname']}}
{{'%-18s'|format("Frames Transmitted")}} : {{intf_stats_info['pdu_sent']}}
{{'%-18s'|format("Frames Received")}} : {{intf_stats_info['pdu_received']}}
{{'%-18s'|format("Frames with Error")}} : {{intf_stats_info['pdu_recv_error']}}
{% endfor %}
{%endif%}
{%endif%}
