{{'----------------------------------------------------------------'}}
{{'VRF-NAME'.ljust(20)}}{{'INTERFACES'}}
{% if json_output and 'openconfig-network-instance' in json_output -%}
{% set inst_info = json_output['openconfig-network-instance'] %}
{% set state = inst_info['state'] %}
{% if state['name'] == 'mgmt' %}
{% if state['type'] == 'L3VRF' %}
{% if state['enabled'] == true %}
{{ state['name'] }}
{% endif %}
{% endif %}
{% endif %}
{% endif %}
