{% set vars = {'name': ""} %}
{% set vars = {'admin_state': ""} %}
{% set vars = {'oper_state': "down"} %}
{% set vars = {'admin_oper': "down"} %}
{% set vars = {'master': ""} %}
{% set vars = {'flags': ""} %}
{% set vars = {'ipv4_src_pfx': ""} %}
{% if json_output %}
-----------------------------------------------------------------------------------------------
{{'%-20s'|format("Interface")}}{{'%-35s'|format("IP address/mask")}}{{'%-15s'|format("Master")}}{{'%-15s'|format("Admin/Oper")}}{{'%-15s'|format("Flags")}}
-----------------------------------------------------------------------------------------------
{% for key in json_output %}
   {% if "sonic-interface:INTF_TABLE_IPADDR_LIST" in key %}
      {% set intfTblList = json_output["sonic-interface:INTF_TABLE_IPADDR_LIST"] %}
   {% endif %}
   {% if "sonic-mgmt-interface:MGMT_INTF_TABLE_IPADDR_LIST" in key %}
      {% set mgmtIntfTblList = json_output["sonic-mgmt-interface:MGMT_INTF_TABLE_IPADDR_LIST"] %}
      {% for ifKey in mgmtIntfTblList %}
         {% if vars.update({'name':ifKey["ifName"]}) %}{% endif %}
         {% if vars.update({'ipv4_src_pfx':ifKey["ipPrefix"]}) %}{% endif %}
         {% if vars.update({'admin_state':"up"}) -%}{% endif -%}
         {% if vars.update({'oper_state':"up"}) -%}{% endif -%}
        {% set admin_op = vars.admin_state + "/" + vars.oper_state|string() %}
        {% if vars.update({'admin_oper':admin_op}) %}{% endif %}
{{'%-20s'|format(vars.name)}}{{'%-35s'|format(vars.ipv4_src_pfx)}}{{'%-15s'|format(vars.master)}}{{'%-15s'|format(vars.admin_oper)}}{{'%-15s'|format(vars.flags)}}
      {% endfor %}
   {% endif %}
{% for ifKey in intfTblList %}
  {% if vars.update({'name':ifKey["ifName"]}) %}{% endif %}
  {% if vars.update({'ipv4_src_pfx':ifKey["ipPrefix"]}) %}{% endif %}
  {% if vars.name.startswith('Ethernet') %}
      {% if vars.update({'admin_state':"down"}) %}{% endif %}
      {% if vars.update({'oper_state':"down"}) %}{% endif %}
      {% for nKey in json_output %}
         {% if "sonic-port:PORT_TABLE_LIST" in nKey -%}
             {% set portTblList = json_output["sonic-port:PORT_TABLE_LIST"] %}
             {% for port in portTblList -%}
                 {% if vars.name == port["ifname"] -%}
                     {% if "admin_status" in port %}
                         {% if vars.update({'admin_state':port["admin_status"]}) %}{% endif %}
                     {% endif %}
                     {% if "oper_status" in port %}
                         {% if vars.update({'oper_state':port["oper_status"]}) %}{% endif %}
                     {% endif %}
                     {% set admin_op = vars.admin_state + "/" + vars.oper_state|string() %}
                     {% if vars.update({'admin_oper':admin_op}) %}{% endif %}
{{'%-20s'|format(vars.name)}}{{'%-35s'|format(vars.ipv4_src_pfx)}}{{'%-15s'|format(vars.master)}}{{'%-15s'|format(vars.admin_oper)}}{{'%-15s'|format(vars.flags)}}
                 {% endif -%}
             {% endfor -%} 
         {% endif -%}
      {% endfor %}
  {% elif vars.name.startswith('PortChannel') %}
      {% if vars.update({'admin_state':"down"}) %}{% endif %}
      {% if vars.update({'oper_state':"down"}) %}{% endif %}
      {% for nKey in json_output %}
         {% if "sonic-portchannel:LAG_TABLE_LIST" in nKey -%}
             {% set lagTblList = json_output["sonic-portchannel:LAG_TABLE_LIST"] %}
             {% for lag in lagTblList -%}
                 {% if vars.name == lag["lagname"] -%}
                     {% if "admin_status" in lag %}
                        {% if vars.update({'admin_state':lag["admin_status"]}) %}{% endif %}
                     {% endif %}
                     {% if "oper_status" in lag %}
                        {% if vars.update({'oper_state':lag["oper_status"]}) %}{% endif %}
                     {% endif %}
                     {% set admin_op = vars.admin_state + "/" + vars.oper_state|string() %}
                     {% if vars.update({'admin_oper':admin_op}) %}{% endif %}
{{'%-20s'|format(vars.name)}}{{'%-35s'|format(vars.ipv4_src_pfx)}}{{'%-15s'|format(vars.master)}}{{'%-15s'|format(vars.admin_oper)}}{{'%-15s'|format(vars.flags)}}
                 {% endif -%}
             {% endfor -%} 
         {% endif -%}
      {% endfor %}
  {% elif vars.name.startswith('Vlan') %}
      {% if vars.update({'admin_state':"down"}) %}{% endif %}
      {% if vars.update({'oper_state':"down"}) %}{% endif %}
      {% for nKey in json_output %}
         {% if "sonic-vlan:VLAN_TABLE_LIST" in nKey -%}
             {% set vlanTblList = json_output["sonic-vlan:VLAN_TABLE_LIST"] %}
             {% for vlan in vlanTblList -%}
                 {% if vars.name == vlan["name"] -%}
                     {% if "admin_status" in vlan %}
                        {% if vars.update({'admin_state':vlan["admin_status"]}) %}{% endif %}
                     {% endif %}
                     {% if "oper_status" in vlan %}
                        {% if vars.update({'oper_state':vlan["oper_status"]}) %}{% endif %}
                     {% endif %}
                     {% set admin_op = vars.admin_state + "/" + vars.oper_state|string() %}
                     {% if vars.update({'admin_oper':admin_op}) %}{% endif %}
{{'%-20s'|format(vars.name)}}{{'%-35s'|format(vars.ipv4_src_pfx)}}{{'%-15s'|format(vars.master)}}{{'%-15s'|format(vars.admin_oper)}}{{'%-15s'|format(vars.flags)}}
                 {% endif -%}
             {% endfor -%} 
         {% endif -%}
      {% endfor %}
  {% elif vars.name.startswith('Loopback') %}
      {% if vars.update({'admin_state':"up"}) %}{% endif %}
      {% if vars.update({'oper_state':"up"}) %}{% endif %}
      {% set admin_op = vars.admin_state + "/" + vars.oper_state|string() %}
      {% if vars.update({'admin_oper':admin_op}) %}{% endif %}
{{'%-20s'|format(vars.name)}}{{'%-35s'|format(vars.ipv4_src_pfx)}}{{'%-15s'|format(vars.master)}}{{'%-15s'|format(vars.admin_oper)}}{{'%-15s'|format(vars.flags)}}
  {% endif %}
{% endfor %}
{% endfor %}
{% endif %}
