{{'----------------------------------------------------------------------------------------------------------------------------'}}
{{'%-15s'|format("Protocol")}}{{'%-30s'|format("Source")}}{{'%-30s'|format("Destination")}}{{'%-20s'|format("Packets")}}{{'%-20s'|format("Bytes")}}
{{'----------------------------------------------------------------------------------------------------------------------------'}}
{% for dict in json_output %}
{{'%-15s'|format(dict['protocol'])}}{{'%-30s'|format(dict['source'])}}{{'%-30s'|format(dict['destination'])}}{{'%-20s'|format(dict['pkts'])}}{{'%-20s'|format(dict['bytes'])}}
{% endfor %}
