Static NAT Entries        ................. {{ json_output['static_nat'] }}
Static NAPT Entries       ................. {{ json_output['static_napt'] }}
Dynamic NAT Entries       ................. {{ json_output['dynamic_nat'] }}
Dynamic NAPT Entries      ................. {{ json_output['dynamic_napt'] }}
Static Twice NAT Entries  ................. {{ json_output['static_twice_nat'] }}
Static Twice NAPT Entries ................. {{ json_output['static_twice_napt'] }}
Dynamic Twice NAT Entries ................. {{ json_output['dynamic_twice_nat'] }}
Dynamic Twice NAPT Entries ................ {{ json_output['dynamic_twice_napt'] }}
Total SNAT/SNAPT Entries   ................ {{ json_output['snat_snapt'] }}
Total DNAT/DNAPT Entries   ................ {{ json_output['dnat_dnapt'] }}
