{{'%-20s'|format("Port")}}{{'%-20s'|format("Zone")}}
{{'-------------------------------------------------'}}
{% for k,v in json_output.items() %}
{{'%-20s'|format(k)}}{{'%-20s'|format(v)}}
{% endfor %}
