Source: sonic-mgmt-framework 
Maintainer: Prabhu Sreenivasan <prabhu.sreenivasan@broadcom.com>
Build-Depends: debhelper (>= 8.0.0),
               debhelper (>= 10~) | dh-systemd,
Standards-Version: 3.9.3
Section: net

Package: sonic-mgmt-framework 
Priority: extra  
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}  
Description: SONiC Management Framework 

Package: sonic-mgmt-framework-dbg
Priority: extra
Architecture: any
Section: debug
Depends: sonic-mgmt-framework (=${binary:Version})
Description: debugging symbols for SONiC Management Framework
