Source: sonic-mgmt-framework 
Maintainer: Prabhu Sreenivasan <prabhu.sreenivasan@broadcom.com>
Build-Depends: debhelper (>= 8.0.0),
               dh-systemd
Standards-Version: 3.9.3
Section: net

Package: sonic-mgmt-framework 
Priority: extra  
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}  
Description: SONiC Management Framework 

Package: sonic-host-service
Priority: extra
Architecture: amd64
Depends: python3-systemd, python3-dbus, python3-gi, ${shlibs:Depends}, ${misc:Depends}
Description: SONiC Host Service
