{{>partial_header}}
package {{packageName}}

import (
	"github.com/Azure/sonic-mgmt-framework/rest/server"
)

func init() {
	{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}
	server.AddRoute(
		"{{operationId}}",
		"{{httpMethod}}",
		"{{{basePathWithoutHost}}}{{{path}}}",
		{{operationId}},
	)
	{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}
}
