[Unit]
Description=SONiC Host Service

[Service]
Type=dbus
BusName=org.SONiC.HostService

ExecStart=/usr/bin/python3 -u /usr/lib/sonic_host_service/sonic_host_server.py

Restart=on-failure
RestartSec=3
TimeoutStopSec=3

[Install]
WantedBy=multi-user.target
