################################################################################
#                                                                              #
#  Copyright 2019 Broadcom. The term Broadcom refers to Broadcom Inc. and/or   #
#  its subsidiaries.                                                           #
#                                                                              #
#  Licensed under the Apache License, Version 2.0 (the "License");             #
#  you may not use this file except in compliance with the License.            #
#  You may obtain a copy of the License at                                     #
#                                                                              #
#     http://www.apache.org/licenses/LICENSE-2.0                               #
#                                                                              #
#  Unless required by applicable law or agreed to in writing, software         #
#  distributed under the License is distributed on an "AS IS" BASIS,           #
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.    #
#  See the License for the specific language governing permissions and         #
#  limitations under the License.                                              #
#                                                                              #
################################################################################

# Build time configurations for swagger codegen
# Use makefile syntax

##
# YANGAPI_EXCLUDES indicates the yang modules to be excluded from codegen.
# Server and client code will not be generated for these yangs modules.
# By default server code will be generated for all yangs under models/yang
# and models/yang/sonic directories. Note that each entry should be yang
# module name which is used for generated yaml file name.
YANGAPI_EXCLUDES +=

##
# PY_YANGAPI_CLIENTS indicates the yang modules for which python client
# sdk code should be generated. By default client sdk code will not be
# generated to save build time and space. YANGAPI_EXCLUDES has priority
# over this list. Note that the entry should be the yang module name
# which is used for generated yaml file name.
PY_YANGAPI_CLIENTS += openconfig-interfaces
PY_YANGAPI_CLIENTS += openconfig-lldp
PY_YANGAPI_CLIENTS += openconfig-platform
PY_YANGAPI_CLIENTS += openconfig-system
PY_YANGAPI_CLIENTS += openconfig-spanning-tree
PY_YANGAPI_CLIENTS += sonic-vxlan
PY_YANGAPI_CLIENTS += sonic-sflow

##
# OPENAPI_EXCLUDES indicates the OpenAPI specs to be excluded from codegen.
# By default all yaml files under models/openapi directory are considered
# for codegen. Items should be the yaml file name without the .yaml extension.
# Eg: vlan.yaml should be specified as "OPENAPI_EXCLUDES += vlan"
OPENAPI_EXCLUDES +=

##
# PY_OPENAPI_CLIENTS indicates the OpenAPI specs for which python client
# sdk code should be generated. By default client sdk code is not generated.
# Items should be the yaml file name without the .yaml extension. Note
# that OPENAPI_EXCLUDES has priority over this list.
PY_OPENAPI_CLIENTS +=

